<mat-card class="example-card">
  <mat-card-header>
    <img
      mat-card-avatar
      src="https://avatars.githubusercontent.com/u/64181619?v=4"
      alt=""
    />
    <mat-card-title>Rafael Santos</mat-card-title>
    <mat-card-subtitle>Rafaelse6</mat-card-subtitle>
  </mat-card-header>
  <img
    class="max-h-[400px] object-cover"
    mat-card-image
    src="https://images.pexels.com/photos/1199957/pexels-photo-1199957.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
